#headerBanner {
    background-color: var(--accentHover);
    color: white;
    padding: 12.7px 12.7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 8px #d48a8a;
  }
  #headerBanner h1 {
      font-size: 1.7rem;
      font-weight: 600;
      margin: 0;
      letter-spacing: 1.5px;
  }
  #headerBanner span {
    font-size: 0.8rem;
    opacity: 0.7;
    padding: 12.7px 6.3px
  }
  .btn-home {
    margin: 10px 0 0 10px;
    display: inline-block;
    padding: 12px 18px;
    background: var(--card);
    border: 1px solid var(--border);
    border-radius: 12px;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--accent);
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .04);
    transition: all 0.2s ease;
  }
  
  .btn-home:hover {
    border-color: var(--accent);
    box-shadow: 0 6px 20px rgba(0, 0, 0, .08);
    transform: translateY(-0.5px);
  }
