body {
    padding: 25px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.form-container {
    display:flex;
    flex-direction: column;
    align-items: start;
    gap:5px;
}


