:root {
  --bgColor: #6A1414; 
}

body {
  height: 100vh;
  background:linear-gradient(#00000094, #161616), url('../lib.jpg');
  background-size:cover;
  display: flex;
  flex-direction: column;
}

#headerBanner {
  background-color: var(--bgColor);
  color: #ffffff;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 8px #d48a8a;
}

#headerBanner h1 {
  font-size: 1.7rem;
  font-weight: 600;
  margin: 0;
  letter-spacing: 1.5px;
}

#headerBanner span {
  font-size: 0.8rem;
  opacity: 0.7;
}

main.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 4;
  padding: 20px;
}

#headerBanner h1 a{
  text-decoration: none;
  color: #ffffff;
}

#headerBanner h1 a:hover{
  color: #dcdcdc81;
}

.card-narrow {
 background: #9a97978d;
 padding: 40px;
 width: 430px;
 border-radius: 20px;
 box-shadow: 0 4px 15px var(--bgColor);
 text-align: left;
}

.card-narrow h2{
  margin-bottom: 20px;
  text-align: center;
  color: #000000;
}

.card-narrow label{
  display: block;
  margin-bottom: 12px;
  font-weight: bold;

}

.card-narrow input{
  width: 100%;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 15px;
  margin-top: 4px;
}

.card-narrow .btn {
  width: 100%;
  background-color: #7D1717;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.card-narrow .btn:hover{ 
      background: #5A1010; 
      border-color: #cbd5e1;}

.muted {
  color: #24262c;
}

.muted a{
  color: #1a0dab;
}

.muted a:visited{
  color:#1a0dab
}

.card-narrow .role{
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 14px;
  margin-top: 4px;
}

.card-narrow1 {
  position: relative;
  background: #9a97978d;
  padding: 40px;
  width: 430px;
  height: 600px;
  border-radius: 20px;
  text-align: left;
 }
 
 .card-narrow1 h2{
   margin-bottom: 20px;
   text-align: center;
   color: #000000;
 }
 
 .card-narrow1 label{
   display: block;
   margin-bottom: 12px;
   font-weight: bold;
 
 }
 
 .card-narrow1 input{
   width: 100%;
   padding: 10px;
   border: 2px solid black;
   border-radius: 10px;
   font-size: 15px;
   margin-top: 4px;
 }
 
 .card-narrow1 .btn {
   width: 100%;
   background-color: #7D1717;
   color: #ffffff;
   border: none;
   border-radius: 10px;
   padding: 10px;
   font-size: 15px;
   font-weight: bold;
   cursor: pointer;
   margin-top: 10px;
 }
 
 .card-narrow1 .btn:hover{ 
       background: #5A1010; 
       border-color: #cbd5e1;}
 
 
 .card-narrow1 .role{
   width: 100%;
   padding: 10px;
   border: 1px solid black;
   border-radius: 10px;
   font-size: 14px;
   margin-top: 4px;
 }

 .prflPic {
  position: static;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
 }

 .prflPic img {
  width: 110px;
  height: 100px;
  border-radius: 50px;
  border: 2px solid black;
  margin-left: 200px;
 }

 .prflPic p {
  margin-top: 0px;
  font-size: 11px;
  opacity: 0.7;
}

.card-narrow1 .deleteBtn {
  width: 100%;
  background-color: #7D1717;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.card-narrow1 .deleteBtn:hover{ 
      background: #ff0000; 
      border-color: #cbd5e1;}

#input-file {
  margin-left: 200px;
  margin-top: 10px;
  width: 230px;
  padding: 0;
  margin-top: 0px;
  background: transparent;
}
